#
# I2Cbus
#
CONFIG_I2CBUS_FREERTOS_TASK_MUTEX=y
CONFIG_I2CBUS_LOG_ERRORS=y
CONFIG_I2CBUS_LOG_READWRITES=y
CONFIG_I2CBUS_LOG_RW_LEVEL_INFO=y
CONFIG_I2CBUS_LOG_RW_LEVEL_DEBUG=
CONFIG_I2CBUS_LOG_RW_LEVEL_VERBOSE=
#
# main/Kconfig.projbuild
#
CONFIG_I2C_CLK_FREQ=400000
CONFIG_I2C_SDA_PIN=21
CONFIG_I2C_SCL_PIN=22
CONFIG_GPIO_PIN_SOFTLATCH_POWER=33
CONFIG_GPIO_PIN_SOFTLATCH_BUTTON=33
CONFIG_LEDRING_R=0
CONFIG_LEDRING_G=1
CONFIG_LEDRING_B=2